body {
	padding: 10px;
}



@media (max-width: 517px) {
  .selected-right button {
    display: inline;
    margin-bottom: 2px;
  }
}

.subject-info-box-1,
.subject-info-box-2 {
  float: left;
  width: 37%;
}

.subject-info-box-1 select,
.subject-info-box-2 select {
  height: 145px;
  padding: 0;
}

.subject-info-box-1 select option,
.subject-info-box-2 select option {
  padding: 4px 10px 4px 10px;
}

.subject-info-box-1 select option:hover,
.subject-info-box-2 select option:hover {
  background: #EEEEEE;
}

.subject-info-arrows {
  float: left;
  width: 10%;
}

.subject-info-arrows input {
  width: 70%;
  margin-bottom: 5px;
}


.button_cst {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
