<!doctype html>
{% load staticfiles %}


<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="description" content="Select List Actions - jQuery Plugin">

  <script src="{% static 'js/jquery-1.10.2.js'%}"></script>
  <script src="{% static 'js/bootstrap.js'%}"></script>
  <script src="{% static 'js/jquery.selectlistactions.js'%}"></script>
  
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'css/site.css'%}">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>